# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- CONFIGURAZIONI PERSONALIZZATE DEL PROGETTO ---

# Esclude il file con le credenziali reali del Database
backend/config/database.php

# Esclude il file con l'URL locale del backend
frontend/.env.local

# Esclude eventuali file temporanei di PHP o log del backend
backend/*.log